@charset "utf-8";
* {box-sizing:border-box}
body{background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("src/rwy.jpg"); background-repeat: no-repeat; background-attachment: fixed; height: 100%; margin: 0; background-position: center center; font-family: Helvetica;}

.podstr{background-image:url("src/earth-storm-airbus-airplane-cloud-sky-tropics-684836.jpeg"); background-repeat: no-repeat; background-attachment: fixed; background-position: center center; background-position: -1800px center;}

.white{color: white;}

.p{width: 80vw; justify-content: center; text-align: center; margin: 0 10vw; color: white; background-color: hsla(0,0%,0%,0.60); list-style-position: inside; list-style-type: none;}

.p ul{position: relative; left: -4%;}

.tekst{text-align: center; background-color: hsla(0,0%,0%,0.60);}

.h33{justify-content: center; text-align: center; font-size: 300%;}

.podfoto{width: 800px; height: auto; max-width: 95%; margin: 0 auto; align-items: center; display: flex; box-shadow: 0px 0px 10px 10px hsla(359,100%,50%,0.20);}

.powrot{text-align: center; color: firebrick; font-size: 300%;}
.powrot:active{color: firebrick; font-size: 300%; text-decoration: none;}
.powrot:visited{color: firebrick; font-size: 300%; text-decoration: none;}
.powrot:link{color: firebrick; font-size: 300%; text-decoration: none;}


.tabela{border: 0; width: 400px;}


.logo{
	position: relative; margin: 0 auto; text-align: center;
	font-size: 300%;
	font-family: Helvetica; text-transform: uppercase;
	background-color: #10387F; width: 300px; color: whitesmoke; border-radius: 5%; border: medium solid hsla(240,100%,25%,0.72);
	text-shadow: 4px 4px 10px white;
}

.menu1 li {
	padding:  15px 25px;
  	display: inline-block;
}

.menu1 {	
 	background-color: #00217A;
 	list-style-type: none;
  	border-radius: 4px;
  	position: sticky;
  	top: 0px;
 	text-align: center;
  	z-index: 10;
	color: white;
}

.menu1 a:link {
	color: white;
	text-decoration: none;
}

.menu1 a:visited {
	color: white;
	text-decoration: none;
}

.menu1 li:hover {
	color: #FFFFFF;
	background-color: #0B5EA5;
}
/*
.menu2 li {
	padding:  15px 25px;
  	display: inline-block;
}

.menu2 {
 	background-color: #00217A;
 	list-style-type: none;
  	border-radius: 4px;
  	position: absolute;
  	top: 50px; right: 0px;
 	text-align: center;
  	z-index: 10;
	color: white;
	float: right;
}

.menu2 a:link {
	color: white;
	text-decoration: none;
}

.menu2 a:visited {
	color: white;
	text-decoration: none;
}

.menu2 li:hover {
	color: #FFFFFF;
	background-color: #0B5EA5;
}*/
.menu2{
	display: none;
}
.przycisk{display: none;}
.menu2 .dropbtn{display: none;}
.overlay {
      height: 0%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);
      overflow-y: hidden;
      transition: 0.5s;
	  z-index: 1;
    }

    .overlay-content {
      position: relative;
      top: 30%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
	  z-index: 20;
    }

    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }

.closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }

    .menu2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.dropbtn {
  background-color: #d00000;
  color: white;
  padding: 16px;
  font-size: 16px;
  position: relative;
  height: 100%;
  border: none;
  z-index:0;
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index:5;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #54749F;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.stopka{
	width: 100%; height: 40px; padding: 3px;
	background-color: hsla(224,100%,24%,1.00); 
	text-align: center;
	vertical-align: bottom; font-size: 150%;
	bottom: 0;
	position: relative;
	color: #AFAFAF;
}

.animacja:hover{animation-name: animacja; animation-duration: 8s; animation-iteration-count: infinite;}

@keyframes animacja {
  0% { transform: translate(-600px, 0px) rotate(0deg); }
  50% { transform: translate(600px, 0px) rotate(0deg); }
  100% { transform: translate(-600px, 0px) rotate(0deg); }
}

.foto {
  width: 1000px;
  height: 600px;
  position: relative;
  margin: auto;
}


.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.2);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.jeden{text-align:center; justify-content: center;}

.kont{width: 600px; margin-left: auto; margin-right: auto;text-align: center; background-color: hsla(224,100%,24%,0.70)}

h2{text-align: center;}

table{margin: auto;}

th{
	text-align: center;
  	width: 200px;
  	padding-top: 10px;
  	padding-bottom: 10px;
	background-color: #0000FF;
	color: yellow;
	font-family: Helvetica;
}
.t1{
  	text-align: center;
  	width: 200px; height: 40px;
  	padding-top: 10px;
  	padding-bottom: 10px;
	background-color: hsla(0,0%,25%,1.00);
	color: white;
	font-family: Helvetica;
}

.t1:hover{
  	background-color: hsla(188,71%,26%,1.00);
  	transition-duration: 0.5s;
	color: yellow;
	font-family: Helvetica;
}

.t2{
  	text-align: center;
  	width: 200px; height: 40px;
  	padding-top: 10px;
  	padding-bottom: 10px;
	background-color: hsla(0,0%,33%,1.00);
	color: white;
	font-family: Helvetica;
}

.t2:hover{
  	background-color: hsla(188,71%,26%,1.00);
  	transition-duration: 0.5s;
	color: yellow;
	font-family: Helvetica;
}

.pod td{
  	text-align: center;
  	width: 200px;
  	padding-top: 10px;
  	padding-bottom: 10px;
	font-family: Helvetica;
	background-color: hsla(203,100%,30%,0.90);
	color: #bfbf00;
}

.pod td:hover{
  	background-color: hsla(60,100%,37%,0.60);
  	transition-duration: 0.5s;
	font-family: Helvetica;
	color: navy;
}



.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  z-index: 2;
  position: relative;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 2000px; max-height: 100%;
  position: relative; width: 100%;
  z-index: 1;
}

#Home {background-color: hsla(0,100%,50%,0.20);}
#News {background-color: hsla(120,100%,50%,0.20);}
#Contact {background-color: hsla(240,100%,50%,0.20);}
#About {background-color: hsla(39,100%,50%,0.20);}
.kont-odnosnik{position: relative; width: 100%; height: 150px; display: block; align-self: center;}
.odnosnik {
  	background-color: hsla(39,100%,40%,0.80);
  	color: white;
 	padding: 16px;
 	font-size: 16px;
 	position: relative;
 	height: 100px; width: 14%; margin: 0;
	border: none; border-radius: 5px;
	z-index:0;
	text-align: center;
	top: 3%;
}

.odnosnik1 {
  	background-color: hsla(39,100%,30%,0.80);
  	color: white;
 	padding: 16px;
 	font-size: 16px;
 	position: relative;
 	height: 100px; width: 14%; margin: 0;
	border: none; border-radius: 5px;
	z-index:0;
	text-align: center;
	top: 3%;
}
.odnosnik:hover{cursor: crosshair;}
.odnosnik1:hover{cursor: crosshair;}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

.podmenu li {
	padding:  15px 25px;
  	display: inline-block;
	font-size: 200%;
	border: medium solid hsla(20,100%,40%,0.60);
	margin: 5px 0;
}

.podmenu {	
 	background-color: hsla(35,100%,40%,0.60);
 	list-style-type: none;
  	border-radius: 4px;
  	position: relative;
  	top: 0px; /*       */
 	text-align: center;
  	z-index: 10;
	color: white;
}

.podmenu a:link {
	color: white;
	text-decoration: none;
}

.podmenu a:visited {
	color: white;
	text-decoration: none;
}

.podmenu li:hover {
	color: #FFFFFF;
	background-color: hsla(15,100%,40%,0.60);
}









@media screen and (max-width:1200px) {
	body{background-image: url("src/rwy11.jpg"); background-repeat: no-repeat; background-attachment: fixed; height: 100%; margin: 0; background-position: center center; font-family: Helvetica; background-size: cover;}
	.podstr{background-image:url("src/tablet.jpeg"); background-repeat: no-repeat; background-attachment: fixed; background-position: center center;}
	.foto {
  		width: 600px;
  		height: 360px;
  		position: relative;
  		margin: auto;
	}
	.menu2{
		display: flex;
		background-color: #00217A;
 		list-style-type: none;
  		border-radius: 4px;
  		position: sticky;
  		top: 0px;
 		text-align: center;
  		z-index: 1;
		color: white;
		height: 50px;
    	justify-content: space-between;
    	align-items: center;
    	padding: 10px;
	}
	.przycisk{display: block;}
	.menu2 .dropbtn{display: block;}
	.menu1{display: none;}
	.menu1 .dropbtn{display: none;}
 }


@media screen and (max-width:600px) {
	body{background-image: url("src/bgphone.jpeg"); background-repeat: no-repeat; background-attachment: fixed; height: 100%; margin: 0; background-position: center center; font-family: Helvetica; background-size: cover;}
	.podstr{background-image: url("src/bgphone.jpeg"); background-attachment: fixed; background-repeat: no-repeat;}
	.foto {
  		width: auto;
  		height: auto;
  		position: relative;
		margin: auto;
	}
	.menu2{
		display: flex;
		background-color: #7F7F7F;
 		list-style-type: none;
  		border-radius: 4px;
  		position: sticky;
  		top: 0px;
 		text-align: center;
  		z-index: 1;
		color: white;
		height: 50px;
    	justify-content: space-between;
    	align-items: center;
    	padding: 10px;
	}
	.przycisk{display: block;}
	.menu2 .dropbtn{display: block;}
	.menu1{display: none;}
	.menu1 .dropbtn{display: none;}
	.kont{width: 98%; margin-left: auto; margin-right: auto;text-align: center; background-color: hsla(224,100%,24%,0.70)}
}
